:root {
    --background-color: #222222
}

body {
    min-height: 100dvh;
    background: var(--background-color);
}

* {
    margin: 0;
    min-width: 0;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
}